.container_blue{
  height: 60px;
  background-color: SlateGray;
  color: white;
}

.container_blue a{
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-green{
  height: 400px;
  background-color: LightSeaGreen;
}

.row_green img{
  height: 200px;
}

.container-white{
  height: 360px;
}

.container-about{
  height: 250px;
  background-color: LightSeaGreen;
}

.container-contactme{
  height: 300px;
}

.last-container{
  height: 150px;
  background-color: #325d81;
}

footer{
  height: 70px;
  background-color: #1d3549;
}
