.nav-bar{
  height: 60px;
  background-color: SlateGray;
  color: white;
}

.nav-bar{
  vertical-align: middle;
  line-height: 60px;
}

.nav-bar .col-md-6:first-child a{
  font-size: 30px;
  color: white;
}

.nav-bar .list-inline li a {
  font-size: 20px;
  color: white;
}

.container-green{
  height: 400px;
  background-color: LightSeaGreen;
  color: white;
}

.container-green .row img{
  height: 200px;
}

.container-white{
  height: 700px;
  color: SlateGray;
}

.row img{
  height: 200px;
  border-radius: 5%;
}

.container-about{
  height: 400px;
  background-color: LightSeaGreen;
  color: white;
}

.row p{
  font-size: 20px;
}

.container-contactme{
  height: 300px;
}

.last-container{
  height: 150px;
  background-color: #325d81;
}

footer{
  height: 70px;
  background-color: #1d3549;
}
